---
import Arrow from "../../components/icons/Arrow.astro";

interface Props {
    to: string;
    text: string;
    label: string;
    className?: string;
}
const { to, text, label, className } = Astro.props;
---

<a
    href={to}
    aria-label={label}
    class:list={[
        "group hover:after:w-full-10 focus-visible:after:w-full-10 relative me-8 inline-block text-base font-semibold tracking-wider transition-all duration-300 outline-none after:block after:h-0.5 after:w-0 after:bg-black after:transition-all after:duration-300",
        className,
    ]}>
    <span class="inline-block">
        {text}
    </span>
    <Arrow
        className="absolute top-0 left-full inline-block h-6 w-8 ps-2 transition-all duration-300 group-hover:w-10 group-hover:ps-4 group-focus-visible:w-10 group-focus-visible:ps-4"
    />
</a>
