---
interface Props {
    id: string;
    navMobileId: string;
    theme: Theme;
    class?: string;
    barClasses?: string;
}
const { id, navMobileId, theme, class: className, barClasses } = Astro.props;

const barColor = theme === "light" ? "bg-white" : "bg-black";
const ringColor = theme === "light" ? "focus-visible:ring-white" : "focus-visible:ring-black";
---

<button
    id={id}
    aria-label="apri chiudi menù laterale"
    aria-expanded="false"
    aria-controls={navMobileId}
    class:list={[
        "group/toggle absolute left-8 top-1/2 inline-block -translate-y-1/2 px-1 focus-visible:outline-none focus-visible:ring-2 md:hidden",
        ringColor,
        className,
    ]}
    onclick="
        const navMobileId = this.getAttribute('aria-controls');

        // toggle mobile menu visibility
        const navMobile = this.parentNode.querySelector(`#${navMobileId}`);
        const ariaHidden = navMobile.getAttribute('aria-hidden') === 'true' ? 'false' : 'true';
        navMobile.setAttribute('aria-hidden', ariaHidden);

        // animate mobile toggle icon
        const ariaExpanded = this.getAttribute('aria-expanded') === 'true' ? 'false' : 'true';
        this.setAttribute('aria-expanded', ariaExpanded);

        // prevent focus on mobile items if mobile menu is collapsed
        const tabIndex = ariaHidden === 'true' ? '-1' : '0';
        this.parentNode.querySelectorAll(`#${navMobileId} li a`).forEach((el) => el.setAttribute('tabindex', tabIndex));
    ">
    <span
        class:list={[
            "mx-auto my-1.5 block h-0.5 w-6 transition-all duration-300 ease-in-out group-aria-expanded/toggle:translate-y-2 group-aria-expanded/toggle:rotate-45",
            barColor,
            barClasses,
        ]}>
    </span>
    <span
        class:list={[
            "mx-auto my-1.5 block h-0.5 w-6 transition-all duration-300 ease-in-out group-aria-expanded/toggle:opacity-0",
            barColor,
            barClasses,
        ]}>
    </span>
    <span
        class:list={[
            "mx-auto my-1.5 block h-0.5 w-6 transition-all duration-300 ease-in-out group-aria-expanded/toggle:-translate-y-2 group-aria-expanded/toggle:-rotate-45",
            barColor,
            barClasses,
        ]}>
    </span>
</button>
