---
import { classNames } from "../../utils/utils";

const { selectedItem }: { selectedItem?: "home" | "furnishings" | "about" | "contacts" } = Astro.props;

const barColor = selectedItem === "home" ? "bg-white" : "bg-black";
const ringColor = selectedItem === "home" ? "focus-visible:ring-white" : "focus-visible:ring-black";
---

<button
    id="nav-mobile-toggle"
    aria-expanded="false"
    aria-controls="nav-mobile"
    class={classNames(
        "md:hidden group/toggle nav-mobile-toggle absolute top-1/2 left-8 -translate-y-1/2 inline-block px-1 focus-visible:outline-none focus-visible:ring-2",
        ringColor
    )}>
    <span
        class={classNames(
            "block w-6 h-0.5 my-1.5 mx-auto transition-all duration-300 ease-in-out group-aria-expanded/toggle:translate-y-2 group-aria-expanded/toggle:rotate-45",
            barColor
        )}>
    </span>
    <span
        class={classNames(
            "block w-6 h-0.5 my-1.5 mx-auto transition-all duration-300 ease-in-out group-aria-expanded/toggle:opacity-0",
            barColor
        )}>
    </span>
    <span
        class={classNames(
            "block w-6 h-0.5 my-1.5 mx-auto transition-all duration-300 ease-in-out group-aria-expanded/toggle:-translate-y-2 group-aria-expanded/toggle:-rotate-45",
            barColor
        )}>
    </span>
</button>
