---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
    title="Chi siamo"
    selectedItem="about">
    <span>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis placeat dolore error rem dolorem
        accusantium est expedita aspernatur eum iusto. Consequuntur fugiat quasi tempora quod facilis, atque
        ducimus optio ab expedita sequi cumque quisquam commodi rem corrupti aliquid dolores alias quos
        debitis vitae veniam aspernatur quae. Vitae cupiditate eum assumenda, neque saepe impedit illo quam
        voluptates id. Facere reiciendis cumque libero eveniet quas quasi, dolores architecto. Minus
        aspernatur eveniet totam repellendus nulla corporis nostrum quasi. Totam vero modi molestiae, ea
        dignissimos debitis doloremque, eaque perspiciatis commodi amet, sequi natus repellat blanditiis
        beatae eveniet dolorum. Saepe harum dolorum id, et veniam, voluptas eaque quo explicabo dolorem
        exercitationem tenetur alias ad nulla ducimus aliquid libero fuga? Magnam voluptatem eveniet odio,
        unde, voluptatibus quis doloribus sapiente inventore deserunt natus ullam dolor corporis facere
        numquam sed nihil ipsum laudantium! Laboriosam, dolor voluptas ipsum beatae fugit a culpa soluta
        magnam pariatur nisi sit enim sint nulla explicabo repellendus aliquid expedita dolorem? Fugit optio
        alias nulla reiciendis. Vitae voluptatem, ad nihil fugit consectetur numquam similique doloribus hic
        esse recusandae exercitationem quo, eum illum, quasi dolore. Sunt expedita, voluptatum exercitationem
        amet animi iure. Magnam cumque fugiat hic, non placeat necessitatibus pariatur odio ipsa velit sint
        officiis quas! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus repellendus dolore
        repellat facere ut natus doloribus modi ab, amet ea debitis quos itaque reiciendis ipsum totam vel
        tenetur possimus! Quasi quas possimus et, assumenda exercitationem suscipit? Distinctio repudiandae
        natus beatae vero accusantium sit doloribus vel aliquid ex dolor, deleniti eveniet aperiam
        necessitatibus odio quos impedit adipisci a. Eius cupiditate rerum quam iusto, ab consequatur aut illo
        quas blanditiis minima sint deserunt ratione ut at officiis ipsum cumque repellendus facilis, amet
        debitis neque deleniti porro. Alias aliquam voluptatem debitis odit modi nesciunt placeat nemo
        ducimus? Facilis quis tempora porro dolorum nam? Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Veritatis placeat dolore error rem dolorem accusantium est expedita aspernatur eum iusto.
        Consequuntur fugiat quasi tempora quod facilis, atque ducimus optio ab expedita sequi cumque quisquam
        commodi rem corrupti aliquid dolores alias quos debitis vitae veniam aspernatur quae. Vitae cupiditate
        eum assumenda, neque saepe impedit illo quam voluptates id. Facere reiciendis cumque libero eveniet
        quas quasi, dolores architecto. Minus aspernatur eveniet totam repellendus nulla corporis nostrum
        quasi. Totam vero modi molestiae, ea dignissimos debitis doloremque, eaque perspiciatis commodi amet,
        sequi natus repellat blanditiis beatae eveniet dolorum. Saepe harum dolorum id, et veniam, voluptas
        eaque quo explicabo dolorem exercitationem tenetur alias ad nulla ducimus aliquid libero fuga? Magnam
        voluptatem eveniet odio, unde, voluptatibus quis doloribus sapiente inventore deserunt natus ullam
        dolor corporis facere numquam sed nihil ipsum laudantium! Laboriosam, dolor voluptas ipsum beatae
        fugit a culpa soluta magnam pariatur nisi sit enim sint nulla explicabo repellendus aliquid expedita
        dolorem? Fugit optio alias nulla reiciendis. Vitae voluptatem, ad nihil fugit consectetur numquam
        similique doloribus hic esse recusandae exercitationem quo, eum illum, quasi dolore. Sunt expedita,
        voluptatum exercitationem amet animi iure. Magnam cumque fugiat hic, non placeat necessitatibus
        pariatur odio ipsa velit sint officiis quas! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Temporibus repellendus dolore repellat facere ut natus doloribus modi ab, amet ea debitis quos itaque
        reiciendis ipsum totam vel tenetur possimus! Quasi quas possimus et, assumenda exercitationem
        suscipit? Distinctio repudiandae natus beatae vero accusantium sit doloribus vel aliquid ex dolor,
        deleniti eveniet aperiam necessitatibus odio quos impedit adipisci a. Eius cupiditate rerum quam
        iusto, ab consequatur aut illo quas blanditiis minima sint deserunt ratione ut at officiis ipsum
        cumque repellendus facilis, amet debitis neque deleniti porro. Alias aliquam voluptatem debitis odit
        modi nesciunt placeat nemo ducimus? Facilis quis tempora porro dolorum nam? Lorem ipsum dolor, sit
        amet consectetur adipisicing elit. Veritatis placeat dolore error rem dolorem accusantium est expedita
        aspernatur eum iusto. Consequuntur fugiat quasi tempora quod facilis, atque ducimus optio ab expedita
        sequi cumque quisquam commodi rem corrupti aliquid dolores alias quos debitis vitae veniam aspernatur
        quae. Vitae cupiditate eum assumenda, neque saepe impedit illo quam voluptates id. Facere reiciendis
        cumque libero eveniet quas quasi, dolores architecto. Minus aspernatur eveniet totam repellendus nulla
        corporis nostrum quasi. Totam vero modi molestiae, ea dignissimos debitis doloremque, eaque
        perspiciatis commodi amet, sequi natus repellat blanditiis beatae eveniet dolorum. Saepe harum dolorum
        id, et veniam, voluptas eaque quo explicabo dolorem exercitationem tenetur alias ad nulla ducimus
        aliquid libero fuga? Magnam voluptatem eveniet odio, unde, voluptatibus quis doloribus sapiente
        inventore deserunt natus ullam dolor corporis facere numquam sed nihil ipsum laudantium! Laboriosam,
        dolor voluptas ipsum beatae fugit a culpa soluta magnam pariatur nisi sit enim sint nulla explicabo
        repellendus aliquid expedita dolorem? Fugit optio alias nulla reiciendis. Vitae voluptatem, ad nihil
        fugit consectetur numquam similique doloribus hic esse recusandae exercitationem quo, eum illum, quasi
        dolore. Sunt expedita, voluptatum exercitationem amet animi iure. Magnam cumque fugiat hic, non
        placeat necessitatibus pariatur odio ipsa velit sint officiis quas! Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Temporibus repellendus dolore repellat facere ut natus doloribus modi
        ab, amet ea debitis quos itaque reiciendis ipsum totam vel tenetur possimus! Quasi quas possimus et,
        assumenda exercitationem suscipit? Distinctio repudiandae natus beatae vero accusantium sit doloribus
        vel aliquid ex dolor, deleniti eveniet aperiam necessitatibus odio quos impedit adipisci a. Eius
        cupiditate rerum quam iusto, ab consequatur aut illo quas blanditiis minima sint deserunt ratione ut
        at officiis ipsum cumque repellendus facilis, amet debitis neque deleniti porro. Alias aliquam
        voluptatem debitis odit modi nesciunt placeat nemo ducimus? Facilis quis tempora porro dolorum nam?
    </span>
</PageLayout>
