---
import { Image } from "astro:assets";

import PageLayout from "../layouts/PageLayout.astro";

import Link from "../components/buttons/Link.astro";

import banner from "../assets/about-header-lg.jpg";
import shop from "../assets/shop.jpg";
import woodMachine1 from "../assets/wood-machine-1.jpg";
import woodMachine2 from "../assets/wood-machine-2.jpg";
---

<PageLayout
    title="Chi siamo"
    selectedItem="about">
    <div class="grid place-items-center grid-template-areas-stack">
        <div class="w-full grid grid-template-areas-stack bg-gradient-black-semitransparent-x">
            <Image
                src={banner}
                alt=""
                class="w-full h-52 sm:h-72 object-cover object-center grid-area-stack -z-1"
            />
            <div class="grid-area-stack justify-self-start self-grid-end pb-8 pl-8 text-white z-20">
                <h1 class="text-4xl sm:text-5xl uppercase font-black tracking-tight">la nostra storia</h1>
                <span class="inline-block"> Dagli inizi fino ad oggi.</span>
            </div>
        </div>
    </div>
    <main class="text-black max-w-7xl px-4 sm:px-20 mx-auto my-32 sm:my-40">
        <section
            class="grid grid-rows-[1fr_auto_auto_auto] grid-cols-1 md:grid-rows-[auto_auto_1fr] md:grid-cols-2 gap-x-24 gap-y-8">
            <h3 class="text-2xl font-bold after:block after:w-16 after:h-0.5 after:bg-black">Chi siamo</h3>
            <Image
                src={shop}
                alt="tavolino circolare in legno"
                class="md:row-span-3 h-60 md:h-96 object-cover object-center grayscale"
            />
            <p class="font-normal text-base tracking-wider">
                Essedue Arredi è un laboratorio artigianale, sito a Carugo, nato dalla passione per il legno e
                per l'artigianalità di Secondo Secchi.
                <br /><br />
                A partire dagli anni '50 del secolo scorso, l'arte della falegnameria viene tramandata di generazione
                in generazione all'interno della famiglia Secchi.
            </p>
            <Link
                to="/contacts"
                text="Contattaci"
                class="inline-block w-fit self-end"
            />
        </section>
        <section
            class="grid grid-rows-[1fr_auto_auto_auto] grid-cols-1 md:grid-rows-[auto_auto_1fr] md:grid-cols-2 gap-x-24 gap-y-8 mt-32 sm:mt-40">
            <h3
                class="row-span-1 col-span-1 md:col-span-2 text-2xl font-bold after:block after:w-16 after:h-0.5 after:bg-black">
                Cosa facciamo
            </h3>
            <div class="row-span-1 md:row-span-2 col-span-1 xs:relative xs:mb-12 md:mb-0">
                <Image
                    src={woodMachine1}
                    alt="tavolino circolare in legno"
                    class="hidden xs:block md:absolute md:top-0 md:left-0 xs:w-72 md:w-52 lg:w-72 xs:h-96 xs:object-cover xs:object-center xs:grayscale"
                />
                <Image
                    src={woodMachine2}
                    alt="tavolino circolare in legno"
                    class="xs:absolute xs:-bottom-12 md:bottom-0 xs:end-0 w-full xs:w-72 md:w-52 lg:w-72 h-60 xs:h-96 object-cover object-center grayscale xs:-box-border-ts-3"
                />
            </div>
            <p class="row-span-1 col-span-1 font-normal text-base tracking-wider">
                Ferdinando, da un lato, utilizzando materie prime di qualità, macchinari tradizionali e grande
                esperienza, si occupa di arredi su misura, offrendo al cliente un servizio a 360 gradi,
                partendo dalla progettazione del prodotto e arrivando alla sua effettiva realizzazione.
                <br /><br />
                Stefano, dall'altro, ha apportato significative novità al business. La sua concezione di nuovo
                parte dalla conservazione del vecchio. Rinnovare e riadattare sono le basi su cui si fonda la sua
                visione di lavoro. Grazie alla tecnica di verniciatura con finitura a pennello riesce a rendere
                unici, e non replicabili, mobili e arredi già presenti nelle case dei clienti.
                <br /><br />
                Sono il connubio tra tradizione, innovazione e trasformazione a rendere il laboratorio unico nel
                suo genere e l'attenzione al cliente a essere il punto di forza di Essedue Arredi.
            </p>
            <Link
                to="/furnishings"
                text="Scopri"
                class="row-span-1 col-span-1 inline-block w-fit self-end md:place-self-end"
            />
        </section>
    </main>
</PageLayout>
