---
import PageLayout from "../layouts/PageLayout.astro";

import Link from "../components/buttons/Link.astro";
import Heading from "../components/Heading.astro";
import Arrow from "../components/icons/Arrow.astro";
import ImageCarousel from "../components/ImageCarousel/Carousel";

import banner from "../assets/webp/arredi-header.webp";
---

<PageLayout
    title="Arredi"
    selectedItem="arredi">
    <Heading
        title="Arredamenti"
        subtitle="Le nostre soluzioni di design."
        banner={banner}
        imageClass="grayscale object-top"
    />
    <main class="mx-auto mb-32 max-w-7xl px-4 text-black sm:mb-40 sm:px-20">
        <section class="mt-32 sm:mt-40">
            <h2
                id="arredi-su-misura"
                class="text-3xl font-bold after:block after:h-1 after:w-24 after:bg-black">
                Arredi su misura
            </h2>
            <div class="mt-12 flex flex-col gap-x-20 gap-y-8 lg:flex-row">
                <!-- @ts-ignore beforeIcon and afterIcon passed as named slots instead of props -->
                <ImageCarousel
                    slideSet="furnishing"
                    className="lg:flex-grow lg:basis-0"
                    client:load>
                    <Arrow
                        slot="prev-icon"
                        className="inline-block h-6 w-6 rotate-180"
                    />
                    <Arrow
                        slot="next-icon"
                        className="inline-block h-6 w-6"
                    />
                </ImageCarousel>
                <article class="flex flex-col gap-8 lg:flex-grow lg:basis-0">
                    <p class="text-base font-normal tracking-wider">
                        Partendo dal sopralluogo, utile alla comprensione degli spazi e delle volumetrie,
                        siamo in grado di disegnare e progettare delle soluzioni di arredo basate sulle vostre
                        specifiche esigenze, unendo così funzionalità e senso estetico coerente con gli
                        ambienti già esistenti.
                        <br /><br />
                         Dopo la definizione del progetto passiamo alla realizzazione effettiva dell'arredo
                        finito mantenendo come punto fermo l'artigianalità degli arredamenti e l'unicità dei
                        prodotti finiti.

                        <br /><br />
                         L'elemento fondamentale che porta ad ottenere un progetto su misura di successo è
                        l'esperienza condivisa con i nostri clienti, i quali possono esprimere e, di
                        conseguenza, soddisfare al meglio le loro esigenze di arredamento.
                    </p>
                    <Link
                        to="/contatti"
                        text="Contattaci"
                        className="inline-block w-fit"
                    />
                </article>
            </div>
        </section>
        <section class="mt-32 sm:mt-40">
            <h2
                id="finitura-e-laccatura"
                class="text-3xl font-bold after:block after:h-1 after:w-24 after:bg-black">
                Finitura a pennello e laccatura
            </h2>
            <div class="mt-12 flex flex-col-reverse gap-x-20 gap-y-8 lg:flex-row">
                <article class="flex flex-col gap-8 lg:flex-grow lg:basis-0">
                    <p class="text-base font-normal tracking-wider">
                        Se le soluzioni di finitura e di tonalità tradizionali studiate per i vostri
                        arredamenti vi sembrano già conosciute e viste, allora vi possiamo offrire delle
                        alternative uniche nel loro genere.
                        <br /><br />
                         Tramite la tecnica di verniciatura con finitura a pennello, completamente svolta a
                        mano utilizzando esclusivamente vernici all'acqua, possiamo donare al mobilio grezzo
                        il volto che preferite grazie alla vasta gamma di tinte che potrete consultare e
                        scegliere.
                        <br /><br />
                         Se invece vi piace l'idea di poter rivoluzionare l'aspetto di un mobilio già
                        esistente, allora possiamo portare nelle vostre case un tocco di novità ed unicità che
                        saranno impossibili da replicare e che si sposano perfettamente alla vostra idea di
                        arredamento.
                    </p>
                    <Link
                        to="/contatti"
                        text="Contattaci"
                        className="inline-block w-fit"
                    />
                </article>
                <!-- @ts-ignore beforeIcon and afterIcon passed as named slots instead of props -->
                <ImageCarousel
                    slideSet="finishing"
                    className="lg:flex-grow lg:basis-0"
                    client:load>
                    <Arrow
                        slot="prev-icon"
                        className="inline-block h-6 w-6 rotate-180"
                    />
                    <Arrow
                        slot="next-icon"
                        className="inline-block h-6 w-6"
                    />
                </ImageCarousel>
            </div>
        </section>
        <section class="mt-32 sm:mt-40">
            <h2
                id="riqualifica-mobili"
                class="text-3xl font-bold after:block after:h-1 after:w-24 after:bg-black">
                Riqualifica mobili
            </h2>
            <div class="mt-12 flex flex-col gap-x-20 gap-y-8 lg:flex-row">
                <!-- @ts-ignore beforeIcon and afterIcon passed as named slots instead of props -->
                <ImageCarousel
                    slideSet="restore"
                    className="lg:flex-grow lg:basis-0"
                    client:load>
                    <Arrow
                        slot="prev-icon"
                        className="inline-block h-6 w-6 rotate-180"
                    />
                    <Arrow
                        slot="next-icon"
                        className="inline-block h-6 w-6"
                    />
                </ImageCarousel>
                <article class="flex flex-col gap-8 lg:flex-grow lg:basis-0">
                    <p class="text-base font-normal tracking-wider">
                        Grazie ai nostri servizi di riqualifica e conservazione, doniamo nuova vita ai vostri
                        mobili antichi, i quali hanno spesso bisogno di una manutenzione.
                        <br /><br />
                         Un restauro di successo si ha quando, nonostante il ripristino del mobilio, si riesce
                        a conservarne l'integrità originale.
                    </p>
                    <Link
                        to="/contatti"
                        text="Contattaci"
                        className="inline-block w-fit"
                    />
                </article>
            </div>
        </section>
    </main>
</PageLayout>
