---
import PageLayout from "../layouts/PageLayout.astro";

import Heading from "../components/Heading.astro";

import banner from "../assets/webp/contatti-header-lg.webp";
---

<PageLayout
    title="Contatti"
    selectedItem="contatti">
    <Heading
        title="Contattaci"
        subtitle="Preventivi su misura, che si adattano alle tue esigenze."
        banner={banner}
        imageClass="grayscale object-bottom"
    />
    <main
        class="mx-auto my-32 grid w-full max-w-7xl grid-cols-1 grid-rows-2 items-center justify-center gap-16 px-4 sm:px-20 lg:grid-cols-5 lg:grid-rows-1 lg:gap-4">
        <section
            class="flex flex-col gap-16 px-8 text-start text-lg capitalize text-black lg:col-span-2 lg:pr-0">
            <div class="flex flex-col gap-2">
                <h3 class="font-bold">sede</h3>
                <address class="not-italic">via alessandro manzoni 22B, carugo (CO)</address>
            </div>
            <div class="flex flex-col gap-2">
                <h3 class="font-bold">orari</h3>
                <div class="grid grid-cols-2">
                    <span class="row-span-2">lun - ven</span>
                    <span>
                        <time datetime="8:00">08:00</time> - <time datetime="12:00">12:00</time>
                    </span>
                    <span>
                        <time datetime="14:00">&nbsp14:00</time> - <time datetime="18:00">18:00</time>
                    </span>
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <h3 class="font-bold">telefono</h3>
                <address class="grid grid-cols-2 not-italic">
                    <span>+39 339 4690 597</span>
                    <span>ferdinando</span>
                    <span>+39 349 6515 751</span>
                    <span>stefano</span>
                </address>
            </div>
            <div class="flex flex-col gap-2">
                <h3 class="font-bold">email</h3>
                <address class="lowercase not-italic">{import.meta.env.ESSEDUE_EMAIL}</address>
            </div>
        </section>
        <section class="w-full lg:col-span-3 lg:h-full lg:pr-8">
            <iframe
                class="h-[36rem] w-full md:h-[30rem] lg:h-full"
                title="Posizione su Google Maps"
                src="https://maps.google.com/maps?q=Via%20Alessandro%20Manzoni%2022B,%20Carugo%20(CO)&t=&z=17&ie=UTF8&iwloc=&output=embed&z=14"
                allowfullscreen="true"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </section>
    </main>
</PageLayout>
