---
import { Image } from "astro:assets";

import PageLayout from "../layouts/PageLayout.astro";

import banner from "../assets/contacts-header-lg.jpg";
---

<PageLayout
    title="Contatti"
    selectedItem="contacts">
    <div class="grid place-items-center grid-template-areas-stack">
        <div class="w-full grid grid-template-areas-stack bg-gradient-black-semitransparent-left">
            <Image
                src={banner}
                alt=""
                class="w-full h-72 object-cover object-bottom grid-area-stack grayscale -z-1"
            />
            <div class="grid-area-stack justify-self-start self-grid-end pb-8 pl-8 text-white z-20">
                <h1 class="text-4xl sm:text-5xl uppercase font-black tracking-tight">contattaci</h1>
                <span class="inline-block">
                    Preventivi su misura, che si adattano<br />alle tue esigenze.
                </span>
            </div>
        </div>
        <main
            class="grid grid-rows-2 grid-cols-1 lg:grid-cols-5 lg:grid-rows-1 w-full items-center justify-center gap-16 lg:gap-4 py-16 max-w-7xl mx-auto">
            <section
                class="px-8 lg:pr-0 text-black text-lg text-start capitalize font-light flex flex-col gap-16 lg:col-span-2">
                <div class="flex flex-col gap-2">
                    <h3 class="font-medium">sede</h3>
                    <span>via alessandro manzoni 22B, carugo (co)</span>
                </div>
                <div class="flex flex-col gap-2">
                    <h3 class="font-medium">orari</h3>
                    <div class="grid grid-cols-2">
                        <span class="row-span-2">lun - ven</span>
                        <span>08:00 - 12:00</span>
                        <span>&nbsp14:00 - 18:00</span>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <h3 class="font-medium">telefono</h3>
                    <div class="grid grid-cols-2">
                        <span>+39 339 4690 597</span>
                        <span>ferdinando</span>
                        <span>+39 349 6515 751</span>
                        <span>stefano</span>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <h3 class="font-medium">email</h3>
                    <span>info@essedue-arredi.it</span>
                </div>
            </section>
            <section class="w-full lg:h-full lg:pr-8 lg:col-span-3">
                <iframe
                    class="w-full h-96 lg:h-full"
                    id="gmap_canvas"
                    src="https://maps.google.com/maps?q=Via%20Alessandro%20Manzoni%2022B,%20Carugo%20(CO)&t=&z=17&ie=UTF8&iwloc=&output=embed&z=14"
                    allowfullscreen="true"
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
            </section>
        </main>
    </div>
</PageLayout>
