---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
    title="Cookie Policy"
    metaContent=`Cookie Policy. Siamo ${import.meta.env.ESSEDUE_NAME}, progettiamo e realizziamo soluzioni d'arredo secondo le vostre esigenze per ambienti di ogni stile e dimensione. Doniamo un nuovo aspetto a mobili e arredi utilizzando tecniche di finitura e verniciatura a pennello, realizzate esclusivamente a mano. Ripristiniamo vecchi mobili, donando loro una nuova vita tramite interventi di restauro che preservano l'unicità e ne migliorano la durabilità nel tempo.`>
    <main class="mx-auto mb-32 max-w-7xl px-4 text-black sm:mb-40 sm:px-20">
        <h1 class="text-3xl font-bold after:block after:h-1 after:w-24 after:bg-black">Cookie Policy</h1>
        <p class="mt-8 text-base font-normal tracking-wider">
            Questo documento contiene informazioni in merito alle tecnologie che consentono a questa
            Applicazione di raggiungere gli scopi descritti di seguito. Tali tecnologie permettono al Titolare
            di raccogliere e salvare informazioni (per esempio tramite l'utilizzo di Cookie) o di utilizzare
            risorse (per esempio eseguendo uno script) sul dispositivo dell'Utente quando quest'ultimo
            interagisce con questa Applicazione.
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Per semplicità, in questo documento tali tecnologie sono sinteticamente definite "Strumenti di
            Tracciamento", salvo vi sia ragione di differenziare. Per esempio, sebbene i Cookie possano essere
            usati in browser sia web sia mobili, sarebbe fuori luogo parlare di Cookie nel contesto di
            applicazioni per dispositivi mobili, dal momento che si tratta di Strumenti di Tracciamento che
            richiedono la presenza di un browser. Per questo motivo, all'interno di questo documento il
            termine Cookie è utilizzato solo per indicare in modo specifico quel particolare tipo di Strumento
            di Tracciamento.
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Alcune delle finalità per le quali vengono impiegati Strumenti di Tracciamento potrebbero, inoltre
            richiedere il consenso dell'Utente. Se viene prestato il consenso, esso può essere revocato
            liberamente in qualsiasi momento seguendo le istruzioni contenute in questo documento.
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Questa Applicazione utilizza Strumenti di Tracciamento gestiti direttamente dal Titolare
            (comunemente detti Strumenti di Tracciamento "di prima parte") e Strumenti di Tracciamento che
            abilitano servizi forniti da terzi (comunemente detti Strumenti di Tracciamento "di terza parte").
            Se non diversamente specificato all'interno di questo documento, tali terzi hanno accesso ai
            rispettivi Strumenti di Tracciamento. Durata e scadenza dei Cookie e degli altri Strumenti di
            Tracciamento simili possono variare a seconda di quanto impostato dal Titolare o da ciascun
            fornitore terzo. Alcuni di essi scadono al termine della sessione di navigazione dell'Utente. In
            aggiunta a quanto specificato nella descrizione di ciascuna delle categorie di seguito riportate,
            gli Utenti possono ottenere informazioni più dettagliate ed aggiornate sulla durata, così come
            qualsiasi altra informazione rilevante - quale la presenza di altri Strumenti di Tracciamento -
            nelle Privacy Policy dei rispettivi fornitori terzi (tramite i link messi a disposizione) o
            contattando il Titolare.
        </p>
        <h2 class="mt-12 text-2xl font-bold">
            Attività strettamente necessarie a garantire il funzionamento di questa Applicazione e la
            fornitura del Servizio
        </h2>
        <p class="mt-8 text-base font-normal tracking-wider">
            Questa Applicazione utilizza Cookie comunemente detti "tecnici" o altri Strumenti di Tracciamento
            analoghi per svolgere attività strettamente necessarie a garantire il funzionamento o la fornitura
            del Servizio.
        </p>
        <h2 class="mt-12 text-2xl font-bold">
            Altre attività che prevedono l'utilizzo di Strumenti di Tracciamento
        </h2>
        <h3 class="mt-8 text-xl font-bold">Esperienza</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            Questa Applicazione utilizza Strumenti di Tracciamento per migliorare la qualità della user
            experience e consentire le interazioni con contenuti, network e piattaforme esterni.
        </p>

        <h4 class="mt-8 text-xl font-medium">Visualizzazione di contenuti da piattaforme esterne</h4>
        <p class="mt-4 text-base font-normal tracking-wider">
            Questo tipo di servizi permette di visualizzare contenuti ospitati su piattaforme esterne
            direttamente dalle pagine di questa Applicazione e di interagire con essi. Tali servizi sono
            spesso definiti widget, ovvero piccoli elementi inseriti in un sito web o in un'applicazione.
            Forniscono informazioni specifiche o svolgono una funzione particolare e spesso consentono
            l'interazione con l'utente. Questo tipo di servizio potrebbe comunque raccogliere dati sul
            traffico web relativo alle pagine dove il servizio è installato, anche quando gli utenti non lo
            utilizzano.
        </p>
        <h5 class="text-md mt-8 font-semibold">Widget Google Maps (Google Ireland Limited)</h5>
        <p class="mt-4 text-base font-normal tracking-wider">
            Google Maps è un servizio di visualizzazione di mappe gestito da Google Ireland Limited che
            permette a questa Applicazione di integrare tali contenuti all'interno delle proprie pagine.
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Dati Personali trattati: Dati di utilizzo e Strumenti di Tracciamento.
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Luogo del trattamento: Irlanda - <a
                aria-label="Link alla Privacy Policy di Google Ireland Limited"
                rel="noopener nofollow"
                target="_blank"
                href="https://policies.google.com/privacy"
                class="underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-4 focus-visible:ring-offset-white"
                >Privacy Policy</a
            >.
        </p>
        <h2 class="mt-12 text-2xl font-bold">Come gestire le preferenze e prestare o revocare il consenso</h2>
        <p class="mt-8 text-base font-normal tracking-wider">
            Esistono vari modi per gestire le preferenze relative agli Strumenti di Tracciamento e per
            prestare o revocare il consenso, ove necessario:
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Gli Utenti possono gestire le preferenze relative agli Strumenti di Tracciamento direttamente
            tramite le impostazioni dei propri dispositivi - per esempio, possono impedire l'uso o
            l'archiviazione di Strumenti di Tracciamento.
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            In aggiunta, ogni qualvolta l'utilizzo di Strumenti di Tracciamento dipenda da consenso, l'Utente
            può prestare o revocare tale consenso impostando le proprie preferenze all'interno
            dell'informativa sui cookie o aggiornando tali preferenze tramite il widget privacy per le
            preferenze relative al consenso, se presente.
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Grazie ad apposite funzioni del browser o del dispositivo è anche possibile rimuovere Strumenti di
            Tracciamento precedentemente salvati, inclusi quelli utilizzati per il salvataggio delle
            preferenze relative al consenso inizialmente espresse dall'Utente.
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Altri Strumenti di Tracciamento presenti nella memoria locale del browser possono essere rimossi
            cancellando la cronologia di navigazione.
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Per quanto riguarda Strumenti di Tracciamento di terza parte, gli Utenti possono gestire le
            proprie preferenze visitando il relativo link di opt out (qualora disponibile), utilizzando gli
            strumenti descritti nella Privacy Policy della terza parte o contattando quest'ultima
            direttamente.
        </p>
        <h3 class="mt-8 text-xl font-bold">
            Individuare le impostazioni relative agli Strumenti di Tracciamento
        </h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            Gli Utenti possono, per esempio, trovare informazioni su come gestire i Cookie in alcuni dei
            browser più diffusi ai seguenti indirizzi:
            <ul class="mt-4 list-disc ps-8">
                <li class="py-2 md:py-1">
                    <a
                        aria-label="Link alle istruzioni per disabilitare i cookie sul browser Google Chrome"
                        rel="noopener nofollow"
                        target="_blank"
                        href="https://support.google.com/chrome/answer/95647?hl=it&p=cpn_cookies"
                        class="underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-4 focus-visible:ring-offset-white"
                        >Google Chrome</a
                    >
                </li>
                <li class="py-2 md:py-1">
                    <a
                        aria-label="Link alle istruzioni per disabilitare i cookie sul browser Mozilla Firefox"
                        rel="noopener nofollow"
                        target="_blank"
                        href="https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie"
                        class="underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-4 focus-visible:ring-offset-white"
                        >Mozilla Firefox</a
                    >
                </li>
                <li class="py-2 md:py-1">
                    <a
                        aria-label="Link alle istruzioni per disabilitare i cookie sul browser Apple Safari"
                        rel="noopener nofollow"
                        target="_blank"
                        href="https://support.apple.com/it-it/guide/safari/manage-cookies-and-website-data-sfri11471/"
                        class="underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-4 focus-visible:ring-offset-white"
                        >Apple Safari</a
                    >
                </li>
                <li class="py-2 md:py-1">
                    <a
                        aria-label="Link alle istruzioni per disabilitare i cookie sul browser Microsoft Internet Explorer"
                        rel="noopener nofollow"
                        target="_blank"
                        href="http://windows.microsoft.com/it-it/windows-vista/block-or-allow-cookies"
                        class="underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-4 focus-visible:ring-offset-white"
                        >Microsoft Internet Explorer</a
                    >
                </li>
                <li class="py-2 md:py-1">
                    <a
                        aria-label="Link alle istruzioni per disabilitare i cookie sul browser Microsoft Edge"
                        rel="noopener nofollow"
                        target="_blank"
                        href="https://support.microsoft.com/it-it/help/4027947"
                        class="underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-4 focus-visible:ring-offset-white"
                        >Microsoft Edge</a
                    >
                </li>
                <li class="py-2 md:py-1">
                    <a
                        aria-label="Link alle istruzioni per disabilitare i cookie sul browser Brave"
                        rel="noopener nofollow"
                        target="_blank"
                        href="https://support.brave.com/hc/articles/360022806212-How-do-I-use-Shields-while-browsing"
                        class="underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-4 focus-visible:ring-offset-white"
                        >Brave</a
                    >
                </li>
                <li class="py-2 md:py-1">
                    <a
                        aria-label="Link alle istruzioni per disabilitare i cookie sul browser Opera"
                        rel="noopener nofollow"
                        target="_blank"
                        href="https://help.opera.com/latest/web-preferences/#cookies"
                        class="underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-4 focus-visible:ring-offset-white"
                        >Opera</a
                    >
                </li>
            </ul>
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Gli Utenti possono inoltre gestire alcuni Strumenti di Tracciamento per applicazioni mobili
            disattivandoli tramite le apposite impostazioni del dispositivo, quali le impostazioni di
            pubblicità per dispositivi mobili o le impostazioni relative al tracciamento in generale (gli
            Utenti possono consultare le impostazioni del dispositivo per individuare quella pertinente).
        </p>
        <h3 class="mt-8 text-xl font-bold">
            Conseguenze legate al rifiuto dell'utilizzo di Strumenti di Tracciamento
        </h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            Gli Utenti sono liberi di decidere se permettere o meno l'utilizzo di Strumenti di Tracciamento.
            Tuttavia, si noti che gli Strumenti di Tracciamento consentono a questa Applicazione di fornire
            agli Utenti un'esperienza migliore e funzionalità avanzate (in linea con le finalità delineate nel
            presente documento). Pertanto, qualora l'Utente decida di bloccare l'utilizzo di Strumenti di
            Tracciamento, il Titolare potrebbe non essere in grado di fornire le relative funzionalità.
        </p>
        <h2 class="mt-12 text-2xl font-bold">Titolare del Trattamento dei Dati</h2>
        <p class="mt-8 text-base font-normal tracking-wider">
            {import.meta.env.ESSEDUE_FULL_ADDRESS}
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            <span class="font-semibold">Indirizzo email del Titolare:</span>
            {import.meta.env.ESSEDUE_EMAIL}
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Dal momento che l'uso di Strumenti di Tracciamento di terza parte su questa Applicazione non può
            essere completamente controllato dal Titolare, ogni riferimento specifico a Strumenti di
            Tracciamento di terza parte è da considerarsi indicativo. Per ottenere informazioni complete, gli
            Utenti sono gentilmente invitati a consultare la Privacy Policy dei rispettivi servizi terzi
            elencati in questo documento.
        </p>
        <p class="mt-4 text-base font-normal tracking-wider">
            Data l'oggettiva complessità di identificazione delle tecnologie di tracciamento, gli Utenti sono
            invitati a contattare il Titolare qualora volessero ricevere ulteriori informazioni in merito
            all'utilizzo di tali tecnologie su questa Applicazione.
        </p>
        <h2 class="mt-12 text-2xl font-bold">Definizioni e riferimenti legali</h2>
        <h3 class="text-md mt-8 font-semibold">Dati Personali (o Dati)</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            Costituisce dato personale qualunque informazione che, direttamente o indirettamente, anche in
            collegamento con qualsiasi altra informazione, ivi compreso un numero di identificazione
            personale, renda identificata o identificabile una persona fisica.
        </p>
        <h3 class="text-md mt-8 font-semibold">Dati di Utilizzo</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            Sono le informazioni raccolte automaticamente attraverso questa Applicazione (anche da
            applicazioni di parti terze integrate in questa Applicazione), tra cui: gli indirizzi IP o i nomi
            a dominio dei computer utilizzati dall'Utente che si connette con questa Applicazione, gli
            indirizzi in notazione URI (Uniform Resource Identifier), l'orario della richiesta, il metodo
            utilizzato nell'inoltrare la richiesta al server, la dimensione del file ottenuto in risposta, il
            codice numerico indicante lo stato della risposta dal server (buon fine, errore, ecc.) il paese di
            provenienza, le caratteristiche del browser e del sistema operativo utilizzati dal visitatore, le
            varie connotazioni temporali della visita (ad esempio il tempo di permanenza su ciascuna pagina) e
            i dettagli relativi all'itinerario seguito all'interno dell'Applicazione, con particolare
            riferimento alla sequenza delle pagine consultate, ai parametri relativi al sistema operativo e
            all'ambiente informatico dell'Utente.
        </p>
        <h3 class="text-md mt-8 font-semibold">Utente</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            L'individuo che utilizza questa Applicazione che, salvo ove diversamente specificato, coincide con
            l'Interessato.
        </p>
        <h3 class="text-md mt-8 font-semibold">Interessato</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            La persona fisica cui si riferiscono i Dati Personali.
        </p>
        <h3 class="text-md mt-8 font-semibold">Responsabile del Trattamento (o Responsabile)</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            La persona fisica, giuridica, la pubblica amministrazione e qualsiasi altro ente che tratta dati
            personali per conto del Titolare, secondo quanto esposto nella presente Privacy Policy.
        </p>
        <h3 class="text-md mt-8 font-semibold">Titolare del Trattamento (o Titolare)</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            La persona fisica o giuridica, l'autorità pubblica, il servizio o altro organismo che,
            singolarmente o insieme ad altri, determina le finalità e i mezzi del trattamento di dati
            personali e gli strumenti adottati, ivi comprese le misure di sicurezza relative al funzionamento
            ed alla fruizione di questa Applicazione. Il Titolare del Trattamento, salvo quanto diversamente
            specificato, è il titolare di questa Applicazione.
        </p>
        <h3 class="text-md mt-8 font-semibold">Questa Applicazione</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            Lo strumento hardware o software mediante il quale sono raccolti e trattati i Dati Personali degli
            Utenti.
        </p>
        <h3 class="text-md mt-8 font-semibold">Servizio</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            Il Servizio fornito da questa Applicazione così come definito nei relativi termini (se presenti)
            su questo sito/applicazione.
        </p>
        <h3 class="text-md mt-8 font-semibold">Unione Europea (o UE)</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            Salvo ove diversamente specificato, ogni riferimento all'Unione Europea contenuto in questo
            documento si intende esteso a tutti gli attuali stati membri dell'Unione Europea e dello Spazio
            Economico Europeo.
        </p>
        <h3 class="text-md mt-8 font-semibold">Cookie</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            I Cookie sono Strumenti di Tracciamento che consistono in piccole porzioni di dati conservate
            all'interno del browser dell'Utente.
        </p>
        <h3 class="text-md mt-8 font-semibold">Strumento di Tracciamento</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            Per Strumento di Tracciamento s'intende qualsiasi tecnologia - es. Cookie, identificativi univoci,
            web beacons, script integrati, e-tag e fingerprinting - che consenta di tracciare gli Utenti, per
            esempio raccogliendo o salvando informazioni sul dispositivo dell'Utente.
        </p>
        <h3 class="text-md mt-8 font-semibold">Riferimenti legali</h3>
        <p class="mt-4 text-base font-normal tracking-wider">
            Ove non diversamente specificato, questa informativa privacy riguarda esclusivamente questa
            Applicazione
        </p>
        <p class="mt-12 text-base font-normal italic tracking-wider">Ultima modifica: 20 gennaio 2024</p>
    </main>
</PageLayout>
