---
import { Image } from "astro:assets";

import PageLayout from "../layouts/PageLayout.astro";

import homeBackground from "../assets/home-background.jpg";

import { path } from "../utils/utils";
---

<PageLayout
    title="Home"
    selectedItem="home">
    <div class="w-full grid grid-template-areas-stack bg-gradient-black-semitransparent-top">
        <Image
            src={homeBackground}
            alt=""
            class="dw-screen dh-screen object-cover grid-area-stack -z-1"
        />
        <div
            class="grid-area-stack justify-self-start self-center self-grid-end md:p-28 p-10 text-white z-20">
            <h1 class="text-5xl md:text-6xl font-extrabold tracking-tight">
                Arredi su misura<br />fatti a mano<br />in Italia
            </h1>
        </div>
        <div
            class="w-full sm:w-auto grid-area-stack justify-self-end self-end self-grid-end p-10 text-white z-20">
            <a
                href={path("/furnishings")}
                class="block w-full sm:inline-block sm:w-32 mb-5 sm:mb-0 text-center border-white bg-white border-[3px] p-[0.6rem] uppercase text-stone-700 text-[0.8rem] font-extrabold leading-7 tracking-wider sm:mr-5 hover:text-stone-900 transition-colors duration-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-4 focus-visible:ring-offset-stone-900 focus-visible:text-stone-900">
                scopri
            </a>
            <a
                href={path("/contacts")}
                class="block w-full sm:inline-block sm:w-32 text-center border-white bg-transparent border-[3px] p-[0.6rem] uppercase text-white text-[0.8rem] font-extrabold leading-7 tracking-wider hover:text-stone-900 hover:bg-white transition-colors duration-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-4 focus-visible:ring-offset-stone-900 focus-visible:bg-white focus-visible:text-stone-900">
                contattaci
            </a>
        </div>
    </div>
</PageLayout>
