---
import NavMobileLink from "./NavMobileLink.astro";

interface Props {
    selectedItem: "home" | "furnishings" | "about" | "contacts";
}
const { selectedItem } = Astro.props;
---

<div
    id="nav-mobile"
    aria-hidden="true"
    class="absolute left-0 top-full grid w-full grid-rows-[1fr] bg-white transition-[grid-template-rows] duration-200 aria-hidden:grid-rows-[0fr] md:hidden">
    <nav class="overflow-hidden">
        <ul
            class="my-8 flex flex-col items-center justify-center text-sm font-medium uppercase leading-5 tracking-widest text-black">
            <li>
                <NavMobileLink
                    title="home"
                    href="/"
                    selected={selectedItem === "home"}
                />
            </li>
            <li>
                <NavMobileLink
                    title="arredi"
                    href="/furnishings"
                    selected={selectedItem === "furnishings"}
                />
            </li>
            <li>
                <NavMobileLink
                    title="chi siamo"
                    href="/about"
                    selected={selectedItem === "about"}
                />
            </li>
            <li>
                <NavMobileLink
                    title="contatti"
                    href="/contacts"
                    selected={selectedItem === "contacts"}
                />
            </li>
        </ul>
    </nav>
</div>
