---
import NavLink from "./NavLink.astro";
import NavLogo from "./NavLogo.astro";
import NavbarMobile from "./NavbarMobile.astro";

import NavMobileToggle from "../buttons/NavMobileToggle.astro";

interface Props {
    selectedItem: "arredi" | "chi-siamo" | "contatti";
}
const { selectedItem } = Astro.props;
---

<header
    class="group sticky left-0 top-0 z-40 grid w-full place-items-center bg-white p-8 transition-all sticking:py-4">
    <NavMobileToggle theme="dark" />
    <nav>
        <ul
            class="flex flex-row items-center justify-center gap-4 text-sm font-medium uppercase leading-5 tracking-widest text-black">
            <li>
                <NavLink
                    title="home"
                    href="/"
                    theme="light"
                />
            </li>
            <li>
                <NavLink
                    title="arredi"
                    href="/arredi"
                    theme="light"
                    selected={selectedItem === "arredi"}
                />
            </li>
            <li>
                <NavLogo
                    theme="light"
                    href="/"
                    theme="light"
                />
            </li>
            <li>
                <NavLink
                    title="chi siamo"
                    href="/chi-siamo"
                    theme="light"
                    selected={selectedItem === "chi-siamo"}
                />
            </li>
            <li>
                <NavLink
                    title="contatti"
                    href="/contatti"
                    theme="light"
                    selected={selectedItem === "contatti"}
                />
            </li>
        </ul>
    </nav>
    <NavbarMobile selectedItem={selectedItem} />
</header>

<script is:inline>
    // shrink navbar on scroll
    const isPageScrolled = () => document.body.scrollTop > 0 || document.documentElement.scrollTop > 0;
    const scrollFunction = () =>
        document.querySelector("header").classList.toggle("sticking", isPageScrolled());
    window.onscroll = () => setTimeout(scrollFunction, 100);
</script>
