---
import { Image } from "astro:assets";

import logoLight from "../../assets/logo-light.svg";
import logoDark from "../../assets/logo-dark.svg";

import NavbarMobile from "./NavbarMobile.astro";
import NavMobileToggle from "../buttons/NavMobileToggle.astro";

import { path } from "../../utils/utils";

const { selectedItem }: { selectedItem?: "home" } = Astro.props;
---

<>
    <header
        id="sticky-header"
        class="fixed top-0 left-0 w-full grid place-items-center p-8 bg-white transition-all group py-4 z-50 -translate-y-96 sticking:translate-y-0 sticking:duration-200">
        <NavMobileToggle mode="dark" />
        <nav>
            <ul
                class="flex flex-row gap-4 items-center justify-center uppercase font-medium text-black text-sm leading-5 tracking-widest">
                <li>
                    <a
                        href={path("/")}
                        class="hidden md:block px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full after:w-full">
                        home
                    </a>
                </li>
                <li>
                    <a
                        href={path("/furnishings")}
                        class="hidden md:block px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full after:w-0">
                        arredi
                    </a>
                </li>
                <li>
                    <a
                        href={path("/")}
                        class="outline-none group/a">
                        <Image
                            id="logo"
                            src={logoDark}
                            alt=""
                            loading="eager"
                            fetchpriority="high"
                            class="inline-block outline-none h-14 group-transition-[height] p-1 group-focus-visible/a:outline-none group-focus-visible/a:ring-2 group-focus-visible/a:ring-black"
                        />
                    </a>
                </li>
                <li>
                    <a
                        href={path("/about")}
                        class="hidden md:block px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full after:w-0">
                        chi siamo
                    </a>
                </li>
                <li>
                    <a
                        href={path("/contacts")}
                        class="hidden md:block px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full after:w-0">
                        contatti
                    </a>
                </li>
            </ul>
        </nav>
        <NavbarMobile selectedItem={selectedItem} />
    </header>

    <header
        id="fixed-header"
        class="absolute top-0 left-0 w-full grid place-items-center p-8 group z-40 sticking:opacity-0 sticking:pointer-events-none sticking: transition-opacity duration-200">
        <NavMobileToggle mode="light" />
        <nav>
            <ul
                class="flex flex-row gap-4 items-center justify-center uppercase font-medium text-white text-sm leading-5 tracking-widest">
                <li>
                    <a
                        href={path("/")}
                        class="hidden md:block px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-white after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-white focus-visible:after:w-full after:w-full">
                        home
                    </a>
                </li>
                <li>
                    <a
                        href={path("/furnishings")}
                        class="hidden md:block px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-white after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-white focus-visible:after:w-full after:w-0">
                        arredi
                    </a>
                </li>
                <li>
                    <a
                        href={path("/")}
                        class="outline-none group/a">
                        <Image
                            id="logo"
                            src={logoLight}
                            alt=""
                            loading="eager"
                            fetchpriority="high"
                            class="inline-block outline-none h-20 group-transition-[height] p-1 group-focus-visible/a:outline-none group-focus-visible/a:ring-2 group-focus-visible/a:ring-white"
                        />
                    </a>
                </li>
                <li>
                    <a
                        href={path("/about")}
                        class="hidden md:block px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-white after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-white focus-visible:after:w-full after:w-0">
                        chi siamo
                    </a>
                </li>
                <li>
                    <a
                        href={path("/contacts")}
                        class="hidden md:block px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-white after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-white focus-visible:after:w-full after:w-0">
                        contatti
                    </a>
                </li>
            </ul>
        </nav>
        <NavbarMobile selectedItem={selectedItem} />
    </header>
</>

<script>
    const stickyHeader = document.getElementById("sticky-header")!;
    const stickyMobileToggle: HTMLElement = stickyHeader.querySelector("#nav-mobile-toggle")!;
    const stickyNavItems: NodeListOf<HTMLElement> = document.querySelectorAll(
        "#sticky-header > nav > ul > li > a"
    );

    // by default sticky navbar is non-interactive
    stickyMobileToggle.tabIndex = -1;
    stickyNavItems.forEach((item) => (item.tabIndex = -1));

    const fixedHeader = document.getElementById("fixed-header")!;
    const fixedMobileToggle: HTMLElement = fixedHeader.querySelector("#nav-mobile-toggle")!;
    const fixedNavItems: NodeListOf<HTMLElement> = document.querySelectorAll(
        "#fixed-header > nav > ul > li > a"
    );

    // hide fixed navbar on scroll and show sticky navbar
    const scrollFunction = () => {
        const isPageScrolled = document.body.scrollTop > 0 || document.documentElement.scrollTop > 0;
        document
            .querySelectorAll("header")!
            .forEach((header) => header.classList.toggle("sticking", isPageScrolled));

        if (isPageScrolled) {
            // remove tab focus on mobile button, and list items
            // (including logo), for the fixed header

            if (fixedMobileToggle.dataset.oldTabIndex === undefined) {
                fixedMobileToggle.dataset.oldTabIndex = fixedMobileToggle.tabIndex.toString();
                fixedMobileToggle.tabIndex = -1;
            }

            fixedNavItems.forEach((item) => {
                if (item.dataset.oldTabIndex === undefined) {
                    item.dataset.oldTabIndex = item.tabIndex.toString();
                    item.tabIndex = -1;
                }
            });

            // restore tab focus on mobile button, and list items
            // (including logo), for the sticky header
            stickyMobileToggle.tabIndex = parseInt(stickyMobileToggle.dataset.oldTabIndex ?? "0");
            stickyMobileToggle.removeAttribute("data-old-tab-index");

            stickyNavItems.forEach((item) => {
                item.tabIndex = parseInt(item.dataset.oldTabIndex ?? "0");
                item.removeAttribute("data-old-tab-index");
            });
        } else {
            // restore tab focus on mobile button, and list items
            // (including logo), for the fixed header
            fixedMobileToggle.tabIndex = parseInt(fixedMobileToggle.dataset.oldTabIndex ?? "0");
            fixedMobileToggle.removeAttribute("data-old-tab-index");

            fixedNavItems.forEach((item) => {
                item.tabIndex = parseInt(item.dataset.oldTabIndex ?? "0");
                item.removeAttribute("data-old-tab-index");
            });

            // remove tab focus on mobile button, and list items
            // (including logo), for the sticky header

            if (stickyMobileToggle.dataset.oldTabIndex === undefined) {
                stickyMobileToggle.dataset.oldTabIndex = stickyMobileToggle.tabIndex.toString();
                stickyMobileToggle.tabIndex = -1;
            }

            stickyNavItems.forEach((item) => {
                if (item.dataset.oldTabIndex === undefined) {
                    item.dataset.oldTabIndex = item.tabIndex.toString();
                    item.tabIndex = -1;
                }
            });
        }
    };
    window.onscroll = () => setTimeout(scrollFunction, 100);
</script>
