---
import NavMobileLink from "./NavMobileLink.astro";

interface Props {
    selectedItem: "home" | "arredi" | "chi-siamo" | "contatti";
}
const { selectedItem } = Astro.props;
---

<div
    id="nav-mobile"
    aria-hidden="true"
    class="absolute left-0 top-full grid w-full grid-rows-[1fr] bg-white transition-[grid-template-rows] duration-200 aria-hidden:grid-rows-[0fr] md:hidden">
    <nav class="overflow-hidden">
        <ul
            class="my-8 flex flex-col items-center justify-center text-sm font-medium uppercase leading-5 tracking-widest text-black">
            <li>
                <NavMobileLink
                    title="home"
                    href="/"
                    label="Link alla pagina home"
                    selected={selectedItem === "home"}
                />
            </li>
            <li>
                <NavMobileLink
                    title="arredi"
                    href="/arredi"
                    label="Link alla pagina arredi"
                    selected={selectedItem === "arredi"}
                />
            </li>
            <li>
                <NavMobileLink
                    title="chi siamo"
                    href="/chi-siamo"
                    label="Link alla pagina chi siamo"
                    selected={selectedItem === "chi-siamo"}
                />
            </li>
            <li>
                <NavMobileLink
                    title="contatti"
                    href="/contatti"
                    label="Link alla pagina contatti"
                    selected={selectedItem === "contatti"}
                />
            </li>
        </ul>
    </nav>
</div>
