---
import NavbarMobile from "./NavbarMobile.astro";

import NavMobileToggle from "../buttons/NavMobileToggle.astro";

import Logo from "../icons/Logo.astro";

import { path } from "../../utils/utils";

interface Props {
    selectedItem: "home";
}
const { selectedItem } = Astro.props;
---

<>
    <header
        id="sticky-header"
        class="group fixed left-0 top-0 z-40 grid w-full -translate-y-96 place-items-center bg-white p-8 py-4 transition-all sticking:translate-y-0 sticking:duration-200">
        <NavMobileToggle mode="dark" />
        <nav>
            <ul
                class="flex flex-row items-center justify-center gap-4 text-sm font-medium uppercase leading-5 tracking-widest text-black">
                <li>
                    <a
                        href={path("/")}
                        class="hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:w-full after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-1 focus-visible:after:w-full md:block">
                        home
                    </a>
                </li>
                <li>
                    <a
                        href={path("/furnishings")}
                        class="hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:w-0 after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-1 focus-visible:after:w-full md:block">
                        arredi
                    </a>
                </li>
                <li>
                    <a
                        href={path("/")}
                        class="group/a outline-none">
                        <Logo
                            id="logo"
                            theme="dark"
                            class="group-transition-[height] inline-block h-14 p-1 outline-none group-focus-visible/a:outline-none group-focus-visible/a:ring-2 group-focus-visible/a:ring-black"
                        />
                    </a>
                </li>
                <li>
                    <a
                        href={path("/about")}
                        class="hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:w-0 after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-1 focus-visible:after:w-full md:block">
                        chi siamo
                    </a>
                </li>
                <li>
                    <a
                        href={path("/contacts")}
                        class="hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:w-0 after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-1 focus-visible:after:w-full md:block">
                        contatti
                    </a>
                </li>
            </ul>
        </nav>
        <NavbarMobile selectedItem={selectedItem} />
    </header>

    <header
        id="fixed-header"
        class="sticking: group absolute left-0 top-0 z-30 grid w-full place-items-center p-8 transition-opacity duration-200 sticking:pointer-events-none sticking:opacity-0">
        <NavMobileToggle mode="light" />
        <nav>
            <ul
                class="flex flex-row items-center justify-center gap-4 text-sm font-medium uppercase leading-5 tracking-widest text-white">
                <li>
                    <a
                        href={path("/")}
                        class="hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:w-full after:bg-white after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-1 focus-visible:after:w-full md:block">
                        home
                    </a>
                </li>
                <li>
                    <a
                        href={path("/furnishings")}
                        class="hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:w-0 after:bg-white after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-1 focus-visible:after:w-full md:block">
                        arredi
                    </a>
                </li>
                <li>
                    <a
                        href={path("/")}
                        class="group/a outline-none">
                        <Logo
                            theme="light"
                            class="group-transition-[height] inline-block h-20 p-1 outline-none group-focus-visible/a:outline-none group-focus-visible/a:ring-2 group-focus-visible/a:ring-white"
                        />
                    </a>
                </li>
                <li>
                    <a
                        href={path("/about")}
                        class="hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:w-0 after:bg-white after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-1 focus-visible:after:w-full md:block">
                        chi siamo
                    </a>
                </li>
                <li>
                    <a
                        href={path("/contacts")}
                        class="hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:w-0 after:bg-white after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-1 focus-visible:after:w-full md:block">
                        contatti
                    </a>
                </li>
            </ul>
        </nav>
        <NavbarMobile selectedItem={selectedItem} />
    </header>
</>

<script is:inline>
    const stickyHeader = document.getElementById("sticky-header");
    const stickyMobileToggle = stickyHeader.querySelector("#nav-mobile-toggle");
    const stickyNavItems = document.querySelectorAll("#sticky-header > nav > ul > li > a");

    // by default sticky navbar is non-interactive
    stickyMobileToggle.tabIndex = -1;
    stickyNavItems.forEach((item) => (item.tabIndex = -1));

    const fixedHeader = document.getElementById("fixed-header");
    const fixedMobileToggle = fixedHeader.querySelector("#nav-mobile-toggle");
    const fixedNavItems = document.querySelectorAll("#fixed-header > nav > ul > li > a");

    // hide fixed navbar on scroll and show sticky navbar
    const scrollFunction = () => {
        const isPageScrolled = document.body.scrollTop > 0 || document.documentElement.scrollTop > 0;
        document
            .querySelectorAll("header")
            .forEach((header) => header.classList.toggle("sticking", isPageScrolled));

        if (isPageScrolled) {
            // remove tab focus on mobile button, and list items
            // (including logo), for the fixed header

            if (fixedMobileToggle.dataset.oldTabIndex === undefined) {
                fixedMobileToggle.dataset.oldTabIndex = fixedMobileToggle.tabIndex.toString();
                fixedMobileToggle.tabIndex = -1;
            }

            fixedNavItems.forEach((item) => {
                if (item.dataset.oldTabIndex === undefined) {
                    item.dataset.oldTabIndex = item.tabIndex.toString();
                    item.tabIndex = -1;
                }
            });

            // restore tab focus on mobile button, and list items
            // (including logo), for the sticky header
            stickyMobileToggle.tabIndex = parseInt(stickyMobileToggle.dataset.oldTabIndex ?? "0");
            stickyMobileToggle.removeAttribute("data-old-tab-index");

            stickyNavItems.forEach((item) => {
                item.tabIndex = parseInt(item.dataset.oldTabIndex ?? "0");
                item.removeAttribute("data-old-tab-index");
            });
        } else {
            // restore tab focus on mobile button, and list items
            // (including logo), for the fixed header
            fixedMobileToggle.tabIndex = parseInt(fixedMobileToggle.dataset.oldTabIndex ?? "0");
            fixedMobileToggle.removeAttribute("data-old-tab-index");

            fixedNavItems.forEach((item) => {
                item.tabIndex = parseInt(item.dataset.oldTabIndex ?? "0");
                item.removeAttribute("data-old-tab-index");
            });

            // remove tab focus on mobile button, and list items
            // (including logo), for the sticky header

            if (stickyMobileToggle.dataset.oldTabIndex === undefined) {
                stickyMobileToggle.dataset.oldTabIndex = stickyMobileToggle.tabIndex.toString();
                stickyMobileToggle.tabIndex = -1;
            }

            stickyNavItems.forEach((item) => {
                if (item.dataset.oldTabIndex === undefined) {
                    item.dataset.oldTabIndex = item.tabIndex.toString();
                    item.tabIndex = -1;
                }
            });
        }
    };
    window.onscroll = () => setTimeout(scrollFunction, 100);
</script>
