---
import { classNames, path } from "../../utils/utils";

const { selectedItem }: { selectedItem?: "home" | "furnishings" | "about" | "contacts" } = Astro.props;
---

<div
    id="nav-mobile"
    aria-hidden="true"
    class="md:hidden absolute top-full left-0 w-full bg-white grid aria-hidden:grid-rows-[0fr] grid-rows-[1fr] transition-[grid-template-rows] duration-200 bg-lime-500">
    <nav class="overflow-hidden bg-purple-500">
        <ul
            class="flex flex-col items-center justify-center my-8 uppercase font-medium text-black text-sm leading-5 tracking-widest">
            <li>
                <a
                    class={classNames(
                        "block px-8 py-4 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                        selectedItem === "home" ? "after:w-full" : "after:w-0"
                    )}
                    href={path("/")}
                    tabindex="-1">
                    home
                </a>
            </li>
            <li>
                <a
                    class={classNames(
                        "block px-8 py-4 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                        selectedItem === "furnishings" ? "after:w-full" : "after:w-0"
                    )}
                    href={path("/furnishings")}
                    tabindex="-1">
                    arredi
                </a>
            </li>
            <li>
                <a
                    class={classNames(
                        "block px-8 py-4 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                        selectedItem === "about" ? "after:w-full" : "after:w-0"
                    )}
                    href={path("/about")}
                    tabindex="-1">
                    chi siamo
                </a>
            </li>
            <li>
                <a
                    class={classNames(
                        "block px-8 py-4 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                        selectedItem === "contacts" ? "after:w-full" : "after:w-0"
                    )}
                    href={path("/contacts")}
                    tabindex="-1">
                    contatti
                </a>
            </li>
        </ul>
    </nav>
</div>
