---
import NavbarMobile from "./NavbarMobile.astro";

import NavMobileToggle from "../buttons/NavMobileToggle.astro";

import Logo from "../icons/Logo.astro";

import { path } from "../../utils/utils";

interface Props {
    selectedItem: "furnishings" | "about" | "contacts";
}
const { selectedItem } = Astro.props;
---

<header
    class="group sticky left-0 top-0 z-40 grid w-full place-items-center bg-white p-8 transition-all sticking:py-4">
    <NavMobileToggle theme="dark" />
    <nav>
        <ul
            class="flex flex-row items-center justify-center gap-4 text-sm font-medium uppercase leading-5 tracking-widest text-black">
            <li>
                <a
                    href={path("/")}
                    class="hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:w-0 after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-1 focus-visible:after:w-full md:block">
                    home
                </a>
            </li>
            <li>
                <a
                    href={path("/furnishings")}
                    class:list={[
                        "hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-1 focus-visible:after:w-full md:block",
                        selectedItem === "furnishings" ? "after:w-full" : "after:w-0",
                    ]}>
                    arredi
                </a>
            </li>
            <li>
                <a
                    href={path("/")}
                    class="group/a outline-none">
                    <Logo
                        id="logo"
                        theme="dark"
                        class="inline-block h-20 p-1 outline-none transition-[height] group-focus-visible/a:outline-none group-focus-visible/a:ring-2 group-focus-visible/a:ring-black group-sticking:h-14"
                    />
                </a>
            </li>
            <li>
                <a
                    href={path("/about")}
                    class:list={[
                        "hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-1 focus-visible:after:w-full md:block",
                        selectedItem === "about" ? "after:w-full" : "after:w-0",
                    ]}>
                    chi siamo
                </a>
            </li>
            <li>
                <a
                    href={path("/contacts")}
                    class:list={[
                        "hidden px-4 py-2 after:mx-auto after:block after:h-0.5 after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-1 focus-visible:after:w-full md:block",
                        selectedItem === "contacts" ? "after:w-full" : "after:w-0",
                    ]}>
                    contatti
                </a>
            </li>
        </ul>
    </nav>
    <NavbarMobile selectedItem={selectedItem} />
</header>

<script is:inline>
    // shrink navbar on scroll
    const isPageScrolled = () => document.body.scrollTop > 0 || document.documentElement.scrollTop > 0;
    const scrollFunction = () =>
        document.querySelector("header").classList.toggle("sticking", isPageScrolled());
    window.onscroll = () => setTimeout(scrollFunction, 100);
</script>
