---
import Logo from "../icons/Logo.astro";

interface Props {
    href: string;
    theme: Theme;
    class?: string;
}

const { href, theme, class: className } = Astro.props;
---

<a
    href={href}
    aria-label="Link alla pagina Home"
    class="group/a outline-none">
    <span class="hidden">Pagina Home</span>
    <Logo
        color={theme === "dark" ? "#fff" : "#000"}
        invertedColor={theme === "dark" ? "#000" : "#fff"}
        class:list={[
            "group-sticking:h-14 inline-block h-20 p-1 transition-[height] outline-none group-focus-visible/a:ring-2 group-focus-visible/a:outline-none",
            theme == "dark" ? "group-focus-visible/a:ring-white" : "group-focus-visible/a:ring-black",
            className,
        ]}
    />
</a>
