---
import { path } from "../utils/utils";
---

<div
    id="cookie-banner"
    class="fixed -bottom-5 end-0 z-50 m-4 flex animate-appear flex-col gap-4 bg-white p-4 text-black opacity-0 shadow-lg shadow-gray-400 md:w-[28rem]">
    <button
        aria-label="Chiudi banner dei cookies"
        class="action-close w-fit self-end px-1 capitalize transition-colors duration-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-4 focus-visible:ring-offset-white">
        <span class="mx-auto my-1.5 block h-0.5 w-4 translate-y-1 rotate-45 bg-black"></span>
        <span class="mx-auto my-1.5 block h-0.5 w-4 -translate-y-1 -rotate-45 bg-black"></span>
    </button>
    <span class="text-[0.8rem]">
        Questo sito utilizza esclusivamente cookie tecnici. Non vengono utilizzati cookie di marketing o di
        tracciamento di terze parti. Per maggiori informazioni consulta la nostra
        <a
            aria-label="Link alla cookie policy"
            class="font-semibold underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-4 focus-visible:ring-offset-white"
            href={path("/cookie-policy")}>
            cookie policy</a
        >.
    </span>
    <button
        aria-label="Chiudi banner dei cookies"
        class="action-close block w-full self-end border-[3px] border-black bg-black p-[0.4rem] text-center text-2xs font-extrabold uppercase leading-7 tracking-wider text-white transition-colors duration-300 hover:text-gray-400 focus-visible:text-gray-400 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-4 focus-visible:ring-offset-white">
        chiudi
    </button>
</div>

<script>
    import Cookies from "js-cookie";

    const preferenceCookie = "preference_expressed";
    const cookieBanner = document.getElementById("cookie-banner")!;

    if (!!Cookies.get(preferenceCookie)) {
        cookieBanner.classList.remove("flex");
        cookieBanner.classList.add("hidden");
    }

    const closeButtons = document.querySelectorAll(".action-close") as NodeListOf<HTMLButtonElement>;

    const closeCookieBanner = () => {
        cookieBanner.classList.remove("animate-appear", "-bottom-5", "opacity-0");
        cookieBanner.classList.add("animate-disappear", "bottom-0", "opacity-1");

        const nextYear = new Date(new Date().setFullYear(new Date().getFullYear() + 1));

        Cookies.set(preferenceCookie, "1", {
            expires: nextYear,
            secure: true,
            sameSite: "strict",
        });
    };

    closeButtons.forEach((item) => (item.onclick = closeCookieBanner));
</script>
