---
import { Image } from "astro:assets";

interface Props {
    title: string;
    subtitle: string;
    banner: ImageMetadata;
    imageClass?: string;
}

const { title, subtitle, banner, imageClass } = Astro.props;
---

<div class="grid place-items-center grid-template-areas-stack">
    <div class="grid w-full grid-template-areas-stack bg-gradient-black-semitransparent-left">
        <Image
            src={banner}
            alt=""
            class:list={["h-52 w-full object-cover object-center grid-area-stack -z-1 sm:h-72", imageClass]}
            loading={"eager"}
        />
        <div
            class="z-20 mx-auto w-full max-w-7xl justify-self-start px-4 pb-4 text-white grid-area-stack self-grid-end sm:px-20 sm:pb-10">
            <h1 class="text-4xl font-black uppercase tracking-tight sm:text-5xl">{title}</h1>
            <span class="inline-block">
                {subtitle}
            </span>
        </div>
    </div>
</div>
