---
import { Image } from "astro:assets";

interface Props {
    title: string;
    subtitle: string;
    banner: ImageMetadata;
    imageClass?: string;
}

const { title, subtitle, banner, imageClass } = Astro.props;
---

<div class="grid-template-areas-stack grid place-items-center">
    <div class="grid-template-areas-stack bg-gradient-black-semitransparent-left grid w-full">
        <Image
            src={banner}
            alt=""
            class:list={["grid-area-stack z-[-1] h-52 w-full object-cover object-center sm:h-72", imageClass]}
            loading={"eager"}
        />
        <div
            class="grid-area-stack self-grid-end z-20 mx-auto w-full max-w-7xl justify-self-start px-4 pb-4 text-white sm:px-20 sm:pb-10">
            <h1 class="text-4xl font-black tracking-tight uppercase sm:text-5xl">{title}</h1>
            <span class="inline-block">
                {subtitle}
            </span>
        </div>
    </div>
</div>
