---
import Logo from "./icons/Logo.astro";
---

<div
    id="load-screen"
    class="w-full h-full grid place-items-center fixed top-0 left-0 bg-white z-50 opacity-1">
    <Logo
        theme="dark"
        class="inline-block h-20"
    />
</div>

<script>
    // remove load screen
    window.onload = () => {
        const loadScreen = document.getElementById("load-screen")!;
        loadScreen.classList.add("animate-fade");

        setTimeout(() => loadScreen.remove(), 800);
    };
</script>
