---
import Logo from "./icons/Logo.astro";
---

<div
    id="load-screen"
    class="animate-fade fixed top-0 left-0 z-50 grid h-full w-full place-items-center bg-white opacity-100">
    <Logo
        color="#000"
        invertedColor="#fff"
        class="inline-block h-20"
    />
</div>

<script>
    // remove load screen
    window.onload = () => {
        const loadScreen = document.getElementById("load-screen")!;
        setTimeout(() => loadScreen.remove(), 400);
    };
</script>
