---
import { Image } from "astro:assets";

import logo from "../assets/logo.svg";
---

<div
    id="load-screen"
    class="w-full h-full grid place-items-center fixed top-0 left-0 bg-white z-50 opacity-1">
    <Image
        src={logo}
        alt=""
        loading="eager"
        fetchpriority="high"
        class="inline-block h-20"
    />
</div>

<script>
    // remove load screen
    window.onload = () => {
        const loadScreen = document.getElementById("load-screen")!;
        loadScreen.classList.add("animate-fade");

        setTimeout(() => loadScreen.remove(), 800);
    };
</script>
