---
import { Image } from "@astrojs/image/components";

import { classNames, path } from "../utils/utils.js";
import logo from "../assets/logo.svg";

const { selectedItem }: { selectedItem?: "home" | "furnishings" | "about" | "contacts" } = Astro.props;
---

<header
    class="sticky top-0 left-0 w-full grid place-items-center p-8 bg-white transition-all group sticking:py-4 z-40">
    <button
        id="nav-mobile-toggle"
        aria-expanded="false"
        aria-controls="nav-mobile"
        class="md:hidden group/toggle nav-mobile-toggle absolute top-1/2 left-8 -translate-y-1/2 inline-block px-1 rounded-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black">
        <span
            class="block w-6 h-0.5 my-1.5 mx-auto transition-all duration-300 ease-in-out bg-black group-aria-expanded/toggle:translate-y-2 group-aria-expanded/toggle:rotate-45">
        </span>
        <span
            class="block w-6 h-0.5 my-1.5 mx-auto transition-all duration-300 ease-in-out bg-black group-aria-expanded/toggle:opacity-0">
        </span>
        <span
            class="block w-6 h-0.5 my-1.5 mx-auto transition-all duration-300 ease-in-out bg-black group-aria-expanded/toggle:-translate-y-2 group-aria-expanded/toggle:-rotate-45">
        </span>
    </button>
    <nav>
        <ul
            class="flex flex-row gap-4 items-center justify-center uppercase font-medium text-black text-sm leading-5 tracking-widest">
            <li>
                <a
                    href={path("/")}
                    class={classNames(
                        "hidden md:block rounded-sm px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                        selectedItem === "home" ? "after:w-full" : "after:w-0"
                    )}
                    >home</a
                >
            </li>
            <li>
                <a
                    href={path("/furnishings")}
                    class={classNames(
                        "hidden md:block rounded-sm px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                        selectedItem === "furnishings" ? "after:w-full" : "after:w-0"
                    )}
                    >arredi</a
                >
            </li>
            <li>
                <a
                    href={path("/")}
                    class="outline-none group/a">
                    <Image
                        id="logo"
                        src={logo}
                        alt=""
                        format="svg"
                        loading="eager"
                        fetchpriority="high"
                        class="inline-block h-20 group-sticking:h-14 transition-[height] p-1 rounded-sm group-focus-visible/a:outline-none group-focus-visible/a:ring-2 group-focus-visible/a:ring-black"
                    />
                </a>
            </li>
            <li>
                <a
                    href={path("/about")}
                    class={classNames(
                        "hidden md:block rounded-sm px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                        selectedItem === "about" ? "after:w-full" : "after:w-0"
                    )}
                    >chi siamo</a
                >
            </li>
            <li>
                <a
                    href={path("/contacts")}
                    class={classNames(
                        "hidden md:block rounded-sm px-4 py-2 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                        selectedItem === "contacts" ? "after:w-full" : "after:w-0"
                    )}
                    >contatti</a
                >
            </li>
        </ul>
    </nav>
    <div
        id="nav-mobile"
        aria-hidden="true"
        class="md:hidden absolute top-full left-0 w-full bg-white grid aria-hidden:grid-rows-[0fr] grid-rows-[1fr] transition-[grid-template-rows] duration-200">
        <nav class="overflow-hidden">
            <ul
                class="flex flex-col items-center justify-center my-8 uppercase font-medium text-black text-sm leading-5 tracking-widest">
                <li>
                    <a
                        class={classNames(
                            "block rounded-sm px-8 py-4 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                            selectedItem === "home" ? "after:w-full" : "after:w-0"
                        )}
                        href={path("/")}>
                        home
                    </a>
                </li>
                <li>
                    <a
                        class={classNames(
                            "block rounded-sm px-8 py-4 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                            selectedItem === "furnishings" ? "after:w-full" : "after:w-0"
                        )}
                        href={path("/furnishings")}>
                        arredi
                    </a>
                </li>
                <li>
                    <a
                        class={classNames(
                            "block rounded-sm px-8 py-4 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                            selectedItem === "about" ? "after:w-full" : "after:w-0"
                        )}
                        href={path("/about")}>
                        chi siamo
                    </a>
                </li>
                <li>
                    <a
                        class={classNames(
                            "block rounded-sm px-8 py-4 after:block after:h-0.5 after:mx-auto after:bg-black after:transition-all after:duration-200 after:hover:w-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-black focus-visible:after:w-full",
                            selectedItem === "contacts" ? "after:w-full" : "after:w-0"
                        )}
                        href={path("/contacts")}>
                        contatti
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<script>
    const mobileToggle = document.getElementById("nav-mobile-toggle");
    mobileToggle.onclick = () => {
        // toggle mobile menu visibility
        const navMobile = document.getElementById("nav-mobile");
        const ariaHidden = navMobile.getAttribute("aria-hidden") === "true" ? "false" : "true";
        navMobile.setAttribute("aria-hidden", ariaHidden);

        // animate mobile toggle icon
        const ariaExpanded = mobileToggle.getAttribute("aria-expanded") === "true" ? "false" : "true";
        mobileToggle.setAttribute("aria-expanded", ariaExpanded);

        // prevent focus on mobile items if mobile menu is collapsed
        const tabIndex = ariaHidden === "true" ? "-1" : "0";
        document.querySelectorAll("#nav-mobile li a").forEach((el) => el.setAttribute("tabindex", tabIndex));
    };

    // shrink navbar on scroll
    const isPageScrolled = () => document.body.scrollTop > 0 || document.documentElement.scrollTop > 0;
    const scrollFunction = () =>
        document.querySelector("header").classList.toggle("sticking", isPageScrolled());
    window.onscroll = () => setTimeout(scrollFunction, 100);
</script>
