@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* --- Emba styles ---*/
        --slide-spacing: 0;
        --slide-size: 100%;
        --slide-height: 30rem;
    }

    /* --- scrollbar styles --- */

    ::-webkit-scrollbar {
        width: 15px;
    }

    ::-webkit-scrollbar-track {
        background: white;
    }

    ::-webkit-scrollbar-thumb {
        background: #5c5c5c;
        border: 0.2em solid white;
        border-radius: 100vw;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #464646;
    }
}
