@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .grid-template-areas-stack {
        grid-template-areas: "stack";
    }

    .grid-area-stack {
        grid-area: stack;
    }

    .\-z-1 {
        z-index: -1;
    }

    .bg-gradient-black-semitransparent-left {
        background: rgb(0, 0, 0);
        background: -moz-linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.3) 80%,
            rgba(0, 0, 0, 0) 100%
        );
        background: -webkit-linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.3) 80%,
            rgba(0, 0, 0, 0) 100%
        );
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.3) 80%,
            rgba(0, 0, 0, 0) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    }

    .bg-gradient-black-semitransparent-top {
        background: rgb(0, 0, 0);
        background: -moz-linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0.00) 100%
        );
        background: -webkit-linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0.00) 100%
        );
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0.00) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    }

    .self-grid-end {
        align-self: end;
    }

    .selection ::selection {
        color: white;
        background-color: black;
    }

    .selection-inverted ::selection {
        color: black;
        background-color: white;
    }

    /* --- scrollbar style --- */

    ::-webkit-scrollbar {
        width: 15px;
    }
    
    ::-webkit-scrollbar-track {
        background: white;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #5c5c5c;
        border: 0.2em solid white;
        border-radius: 100vw;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #464646;
    }
}
