---
import "@fontsource-variable/montserrat";

import LoadScreen from "../components/LoadScreen.astro";
import Navbar from "../components/navbar/Navbar.astro";
import HomeNavbar from "../components/navbar/NavbarHome.astro";
import Footer from "../components/Footer.astro";

import { path } from "../utils/utils";

import "../global.css";

const {
    title,
    selectedItem,
}: { title?: string; selectedItem?: "home" | "furnishings" | "about" | "contacts" } = Astro.props;
---

<html
    lang="en"
    class="selection">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href={path("/favicon.svg")}
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>Arredi su misura, fatti a mano in Italia | Essedue Arredi | {title}</title>
    </head>
    <body>
        <LoadScreen />
        {
            selectedItem === "home" ? (
                <HomeNavbar selectedItem={selectedItem} />
            ) : (
                <Navbar selectedItem={selectedItem} />
            )
        }
        <slot />
        <Footer />
    </body>
</html>
